.card__register {
  composes: card__auth from '../../../index.css'
}

.card__register__btn--link {
  composes: card__auth__btn__link from '../../../index.css'
}

.card__register__btn--link:active, 
.card__register__btn--link:hover {
  border: none;
  background-color: transparent;
}

.card__register__btn--link:active {
  color: #1985ac;
}

.card__register__btn--link:hover {
  color: #167495;
}

.form__input {
  composes: card__form__input from '../../../index.css'
}

.form__input:focus {
  color: #e4e7ea;
}

.form__input__prepend {
  composes: card__form__input__prepend from '../../../index.css'
}