
@media screen and (max-width: 600px) {
  .card__form__input__prepend {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* .alert {
  margin-top: 80px;
} */

#app {
  background-color: #2f353a;
}

.app__footer {
  height: 50px;
  margin-top: -50px;
  align-items: center;
  justify-content: center;
}

.flex__container {
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
}

.main__content {
  margin-top: 80px;
  padding: 20px;
  padding-bottom: 50px;
}

/* 
  Buttons
*/
.button__default {
  background-color: #20a8d8;
  border-color: #20a8d8;
}

.button__default:active, 
.button__default:hover {
  background-color: #1985ac;
  border-color: #187da0;
}

.button__default:focus {
  box-shadow: 0 0 0 0.2rem rgba(32,168,216,.5);
}

/*
  Form
*/

.card__btn__link {
  border: none;
  color: #3087c1;
}

.card__btn__link:active, .card__auth__btn__link:hover {
  border: none;
  background-color: transparent;
  color:#1985ac;
}

.card__btn__link:focus {
  box-shadow: none;
}

.card__btn__link:hover {
  color: #167495;
}

.card__form {
  background-color: #3a4149;
  padding: 15px;
  color: #e4e7ea;
}

.card__form__input:focus {
  color: #e4e7ea;
}

.card__form__input {
  background-color: #515b65 !important;
  border: 1px solid #23282c;
  color: #e4e7ea;
}

.card__form__input__prepend {
  background-color: #343b41;
  border: 1px solid #23282c;
  color: #d9dce0;
}

/* Tables */
.table__action__icon {
  cursor: pointer;
  margin: 0 5px 0 5px;
}

.icon__delete {
  color: #f86c6b
}

.icon__delete:hover {
  color: #d13232
}

.icon__edit {
  color: #ffd043;
}

.icon__edit:hover {
  color: #ff9900;
}