.alert__modal__content {
  background-color: #3a4149 !important;
  color: #fff !important;
}

.alert__modal__header {
}

.alert__modal__body {
  margin-top: 10px;
  padding: 0 !important;
  text-align: center;
}

.button__modal__close {
  color: #fff !important;
}