.modal {
  display: inherit !important;
  background-color: red !important;
}

.modal__content {

}

.modal-header {

}

.modal__body {
  padding: 0;
}

.ReactModal__Overlay {
  background-color:red !important;
}