.cardgroup {
  border: 1px solid rgb(35, 40, 44);
  border-radius: 5px;
}

.card__signup {
  background-color: #20a8d8;
  color: #fff;
  padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center;
}

.card__signup__button,
.card__signup__button:hover, 
.card__signup__button:active {
  color: #fff;
  background-color: #1985ac;
  border-color: #187da0;
  margin-top: 15px;
}

.card__signup__button:hover, 
.card__signup__button:active  {
  text-decoration: none;
}